.cr_wrapper {
	height: 100vh;
	width: 100%;
	margin-bottom: 5rem;
	position: relative;
}
.cr_img_wrapper {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .7);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-blend-mode: darken;
	box-shadow: inset 0px -150px 20px #111;
	color: white;
	display: flex;
	transition: background-image .4s ease-in-out;
	justify-content: flex-start;
	align-items: center;
}
.cr_wrapper::before {
	content: '© Wmovies is an Application that comes with the latest Movies and TvShows. Is Created with ReactJS and Vanilla CSS. Its designed to offer good and fast user experience. The project is still in development. Thanks for checking it out ♥';
	position: absolute;
	font-size: .8rem;
	bottom: 30px;
	left: 11rem;
	width: 44rem;
	z-index: 2;
	color: #f4f4f4;
}
.cr_content {
	margin-left: 11rem;
}
.cr_content h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
	letter-spacing: 1px;
	white-space: normal;
	width: 30rem;
	word-break: keep-all;
}
.cr_content p {
	margin-bottom: 1rem;
	font-size: 1rem;
	letter-spacing: 1px;
	inline-size: 50rem;
	word-break: break-all;
}
.hero-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	max-width: 25rem;
}
.hero-btn button {
	flex-basis: 50%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 5px;
	height: 3.2rem;
	background-color: #f4f4f4;
	cursor: pointer;
	transition: transform .3s ease-in-out;
}
.hero-btn button:hover {
	transform: translateY(-5px);
}
.play-btn {
	font-size: 3rem !important;
	color: white;
	background-color: rgb(182, 0, 182) !important;
}

@media all and (max-width: 1450px) {
	.cr_content {
		margin-left: 5rem;
	}
	.cr_content p {
		margin-bottom: 2rem;
		font-size: 1rem;
		inline-size: 27rem;
	}
}

@media all and (max-width: 500px) {
	.cr_content {
		margin: 0 auto;
		margin-top: 7rem;
	}
	.cr_content p {
		margin-bottom: 2rem;
		font-size: .9rem;
		letter-spacing: 1px;
		inline-size: 23rem;
		word-break: break-all;
	}
	.cr_content h1 {
		margin-bottom: 1rem;
		font-size: 1.8rem;
		width: 21rem;
	}
	.cr_wrapper::before {
		font-size: .8rem;
		bottom: 10px;
		left: 1rem;
		width: 22rem;
	}
	.cr_content p {
		margin-bottom: 2rem;
		font-size: .9rem;
		letter-spacing: 1px;
		inline-size: 23rem;
		word-break: break-all;
	}
	.cr_content p {
		margin-bottom: 2rem;
		font-size: .9rem;
		letter-spacing: 1px;
		inline-size: 23rem;
		word-break: break-all;
	}
	.hero-btn {
		justify-content: center;
		flex-direction: column;
		align-items: initial;
		width: 100%;
		margin: 0 auto;
	}
	.hero-btn button {
		font-size: 1.3rem;
		font-weight: bold;
		padding: .5rem 0;
	}
	.play-btn {
		font-size: 2rem !important;
	}
	.cr_img_wrapper {
		background-color: rgba(0, 0, 0, .8);
		justify-content: center;
		background-position: top center;
	}
}
