footer {
	min-height: 5rem;
	color: white;
	border-top: 3px solid rgba(240, 29, 93, .5);
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer h2 {
	color: white;
	position: relative;
}
footer h2::before {
	content: 'X';
	color: red;
	text-decoration: underline;
	position: absolute;
	font-size: 3rem;
	left: 0;
	top: 0;
	transform: translate(-23px, -16px);
}
footer p span {
	color: red;
}

.social_links {
	display: inherit;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
	gap: 1rem;
}
.social_links li {
	list-style: none;
	transition: transform .4s ease-in-out;
}
.social_links li:hover {
	color: red;
	transform: rotate(360deg) scale(1.7);
}

@media all and (max-width: 500px) {
	footer {
		min-height: 10rem;
		padding: 1rem;
		flex-direction: column;
		gap: 1rem;
	}
	footer p {
		margin: .5em 0;
		font-size: 1rem;
	}
}
